@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(20, 20, 20, 1);
  background-color: #121A2B;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  width: 100%;
  height: 55px;
  background-color: #0b101b;
  display: flex;
  align-items: center;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Left */
.navbar-left .logo {
  font-size: 1.5rem;
  font-weight: 900;
  text-decoration: none;
  color: #E03F3B;
}

/* Center */
.navbar-center .nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-center .nav-links a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #B7B5BB;
  transition: color 0.2s ease;
}

.navbar-center .nav-links a:hover {
  color: #B7B5BB;
}

/* Right */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-icon,
.user-icon {
  position: relative;
  font-size: 1.3rem;
  color: #374151;
  text-decoration: none;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: #2563eb;
  color: white;
  border-radius: 50%;
  font-size: 0.7rem;
  padding: 2px 6px;
}

hr{
  border: none;
  height: 0.1px;
  background-color: #383838;
}

select{
  appearance: none;
  color: rgb(207, 207, 207);
  border: 1px solid rgb(176, 176, 176);
  font-size: 0.75rem;
  padding: 5px;
  text-align: center;
  border-radius: 3px;
}